* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: honeydew;
}
header {
    display: flex;
    height: 100px;
    background-color: rgb(168, 151, 151);
    font-size: 30px;
    padding: 10px;
    justify-content:space-between;
}
.header-container {
    display: flex;
}
#checkImage {
    height: 50px;
    margin-top: 12px;
    margin-left: 12px;
}
#createProject {
    width: 200px;
    background-color:  yellow;
    cursor: pointer;
    font-size: 26px;
    margin-right: 20px;
}
#createProject:hover {
    background-color: rgb(185, 185, 52);
}
#addTodo {
    width: 300px;
    background-color: red;
    font-size: 34px;
    cursor: pointer;
}
#addTodo:hover {
    background-color: rgb(204, 28, 95);
}
section {
    min-height: 400px;
    background-color: honeydew;
}
footer {
    height: 150px;
    background-color: khaki;
    margin-top: 50px;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.helpText {
    font-size: 24px;
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
}
.modalInputs {
    display: flex;
    flex-direction: column;
}
.todoInput {
    padding: 10px;
    margin: 5px;
}
.confirmButton {
    height: 50px;
    width: 200px;
    margin: auto;
    font-size: 26px;
    line-height: 36px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .projectsContainer {
      background-color: lightblue;
      width: 80%;
      min-height: 200px;
      margin: auto;
      margin-top: 100px;
      padding-bottom: 50px;
  }
  .projectsContainer > h3 {
      padding: 15px;
  }
  .project {
      background-color: lightpink;
      height: 100px;
      width: 600px;
      border: black 1px solid;
      margin: auto;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      font-size: 32px;
      align-items: center;
      justify-content:space-evenly;
  }
  .counter {
      font-size: 26px;
  }
  .projectShow {
      border: 1px solid black;
      background-color: green;
      font-size: 24px;
      cursor: pointer;
  }
  .projectDelete {
      border: 1px black solid;
      background-color: red;
      font-size: 24px;
      cursor: pointer;
  }
  .todoContainer {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      gap: 10px 10px;
  }
  .todoDisplay {
      min-height: 50px;
      border: 1px black solid;
  }
  .todoTitle {
      text-align: center;
  }
  .todoField {
      padding: 3px;
  }
  .deleteButtonWrapper {
      display: flex;
      justify-content: center;
  }
  .deleteButton {
      background-color: red;
      cursor: pointer;
      height: 40px;
      font-size: 18px;
      margin-bottom: 10px;
  }